<div class="row">
    <div class="col-8">
        <h1>Welcome to HH.</h1>
        <p>#WeAreCorrelAid, #meetup_hh, #smarterday</p>
    </div>
    <div class="col-4 mobile text-right">
        <img src="/static/img/logo.png" class="img-fluid" style="max-height: 80px;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Error 404 - Page not found.</h1>
    </div>
</div>


