<!-- Tweets come here! -->
<div class="row">
    <div class="col-12">
        <h1>Welcome to HH.</h1>
        <p>#WeAreCorrelAid, #meetup_hh, #smarterday</p>
    </div>
</div>

<div class="row" id="tweet-wall">

</div>

<script src="/jquery/dist/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/static/js/twitterwall.js"></script>