<!-- Tweets come here! -->
<div class="row">
    <div class="col-8">
        <h1>Welcome to HH.</h1>
        <p>#WeAreCorrelAid, #meetup_hh, #smarterday</p>
    </div>
    <div class="col-4 mobile">
        <img src="/static/img/logo.png" class="img-fluid" style="max-height: 75px;">
    </div>
</div>

<div class="row" id="tweet-wall">

</div>

<script src="/jquery/dist/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/static/js/twitterwall.js"></script>