<!-- Tweets come here! -->
<div class="row" id="tweet-wall">

</div>

<script src="/jquery/dist/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/static/js/twitterwall.js"></script>