/*
    Author: Jan Dix (dix.jan@gmx.de)
    License: MIT
 */

.tweet-container {
    padding: 50px;
}

@media only screen and (max-width: 767px) {
    .tweet-container {
        padding: 25px;
    }
}

.tweet {
    background-color: white;
    padding: 30px;
}