/*
    Author: Jan Dix (dix.jan@gmx.de)
    License: MIT
 */

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
    src: url("../fonts/Lato-Regular.ttf") format('truetype'),
    url("../fonts/Lato-Regular.woff") format('woff');
}

h1 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444444;
    font-weight: bold;
}

p, h5 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444444;
}

.tweet-container {
    padding: 50px;
}

@media only screen and (max-width: 767px) {
    .tweet-container {
        padding: 25px;
    }
}

.tweet {
    background-color: white;
    padding: 30px;
}